@text-color: black;

.container {
    position: relative;
    width: 50%;
    height: 100px;
}

.highlights,
.textarea {
    font: 20px/28px 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

.backdrop,
.textarea {
    width: 100%;
    height: 100%;

    padding: 10px;
}

.backdrop {
    position: absolute;
    z-index: 1;
    overflow: auto;
}

.highlights {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: @text-color;
}

.textarea {
    display: block;
    position: absolute;
    z-index: 2;
    margin: 0;

    overflow: auto;
    resize: none;

    color: transparent;
    caret-color: @text-color;
    background-color: transparent;

    //border: 2px solid #74637f;
    border-radius: 0;
}